/*WRAPPER */
html,body{
	height: 100%;
	}

	
/*DIV CONTENT*/	
		
#content {
	width: 100%;
    padding: 20px;
    min-height: 100%;
}

/*SIDEBAR*/
.wrapper {
		display: flex;
		width: 100%;
		align-items: stretch;
		height: 100%;
		}
		
#sidebar {
    width: 250px;
    background: #000 !important;
    color: #fff;
    transition: all 0.3s;
    height: 100%;
}

.custom-color-sidebar{
	background-color: #000 !important;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #848484;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #848484;
	background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #848484;
}

a[data-toggle="collapse"] {
	 position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #848484;
	}



.list-unstyled li a{
	color: #fff;
}

.list-unstyled li a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #848484;
}