<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <link rel="stylesheet" th:href="@{/home/home.css}"> 
    <title>Global Museum</title> 
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar('assortimento')"></nav>
  	<h1 th:text="${assortimento.id != null} ? 'Modifica assortimento' : 'Nuovo assortimento'"></h1>
  	<div class="container">
  		
  		
  		<hr/>
  		<!-- form  -->
  		
  		<form
  			id="form-assortimento"
  			th:object="${assortimento}"
  			th:action="@{/assortimento/add}"
  			method="POST"
  			class="row"
  			
  		>
	  		<table id="emptbl">
		<tr>
			<th>Prodotto</th>
			<th>Quantità</th>
			<th>Prezzo</th> 
			 
		</tr> 
		<tr> 
		<td id="col2"> 
			<label for="c1">Prodotto</label>
              <select class="form-select form-select mb-3" aria-label=".form-select example" type="select" name="c1">
              <option selected> Apri il menù</option>
               <option th:each="prodotto : ${prodottiList}"  th:value="${prodotto.id}" th:text="${prodotto.nome}"></option>
               </select>
		        </td> 
			<td id="col0"><input type="number" name="quantita[]" value="" /></td> 
			<td id="col1"><input type="number" name="prezzo[]" value="" /></td> 
			 
		</tr>  
	</table> 
	<table> 
		<tr> 
			<td><input type="button" value="Add Row" onclick="addRows()" /></td> 
			<td><input type="button" value="Delete Row" onclick="deleteRows()" /></td> 
			<td><input type="submit" value="Submit" /></td> 
		</tr>  
	</table> 
  		</form>
  	 <script src="/assortimento.js"></script> 
 
  </body>
</html>