<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
   <link rel="stylesheet" th:href="@{/gestionale/gestionale.css}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Global Museum</title>
  </head>
  <body>
  

  <div class="wrapper">
     <nav th:replace="fragments/navbarGestionale :: navbar('gestionale')"></nav>
     
     
         <div id="content">
         <!-- INIZIO CONTENUTO PAGINA -->
            <!-- TOP BAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-center"></i>
           </button>
           <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav> 
    <!-- FINE TOPBAR -->
    <!-- CONTENUTO -->
   <div class="container-fluid px-4">
  

	  	
	  	<div class="mt-3 mb-3 alert alert-success"
			th:if="${successSms != null && successSms != ''}"
			th:text="${successSms}"></div>
    
    <div class="container flex-container">
    <h1>Gli Assortimenti</h1>
    
    <div> 
    <a class="btn btn-primary" th:href="@{/assortimento/add}">Nuovo Assortimento</a>
    </div>
    </div>
    
    <div class="container text-center w-75 mt-3">
    
      <div>
        <table class="table mb-5">
          <thead>
            <tr>
              <th>Nome Fornitore</th>
              <th>Data</th>
              <th>Costo Totale</th>
              <th>Stato</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="a : ${assortimentoList}">
              <td th:text="${a.nomeFornitore}"></td>
              <td th:text="${a.data}"></td>
              <td th:text="${a.getCostoTotale}"></td>
              <td><span th:class="text-warning" th:if="${a.isEmpty == true}" th:text="INCOMPLETO"></span></td>
              
              <td>
	  				<a class="btn btn-primary" th:classappend="${a.isEmpty == true} ? text-warning : ''" th:href="@{|/assortimento/edit/${a.id}|}" title="Edit">
	  					<i class="fa-solid fa-pen-to-square"></i>
	  				</a>
	  				<a class="btn btn-primary" th:href="@{|/assortimento/detail/${a.id}|}" title="Detail">
	  					<i class="fa-solid fa-file-invoice"></i>
	  				</a>
	  				<a class="btn btn-primary" th:classappend="${a.isEmpty == true} ? text-warning : ''" th:href="@{|/assortimento/delete/${a.id}|}" title="Delete">
	  					<i class="fa-solid fa-trash"></i>
	  				</a>
	  			</td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <script src="/gestionale.js"> </script>
  </body>
</html>