<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
<link rel="stylesheet" th:href="@{/home/home.css}">
<title>Global Museum</title>
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar('acquisto')"></nav>
	<div class="container flex-container">

		<div class="mt-3 mb-3 alert alert-success"
			th:if="${successSms != null && successSms != ''}"
			th:text="${successSms}"></div>

		<h1>Nuovo Acquisto</h1>

		<hr />

		<h2 class="mt-4">Carrello</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Prodotto</th>
					<th scope="col">Quantita</th>
					<th scope="col">Prezzo unitario</th>
					<th scope="col">Prezzo totale</th>
					<th scope="col">Azioni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${carrello}">
					<td th:text="${a.prodotto.nome}"></td>
					<td th:text="${a.quantita}"></td>
					<td th:text="'€' + ${a.prodotto.prezzo}"></td>
					<td th:text="'€' + ${a.quantita*a.prodotto.prezzo}"></td>
					<td><a th:href="@{|/card/delete/${a.id}|}"><button
								type="button" class="btn btn-outline-danger">
								<i class="fa-solid fa-trash"></i>
							</button></a></td>
				</tr>
			</tbody>
		</table>


		<h3 class="mt-5">Aggiungi prodotto</h3>

		<form id="form-cardAcquisto" th:object="${cardAcquisto}"
			th:action="@{/card/add}" method="POST" class="row">
			<div class="container">
				<input type="hidden" th:field="*{id}"> <input type="hidden"
					th:value="*{acquisto}" th:field="*{acquisto}">


				<div class="col-8">


					<table id="emptbl">
						<tr>

							<th>Quantità</th>

							<th>Prodotto</th>
							
							<th></th>

						</tr>
						<tr>

							<td id="col2"><input type="number" name="quantita"
								th:field="*{quantita}" value="" /></td>
							
							<td id="col3">
							<select class="form-select form-select"
								aria-label=".form-select example" type="select"
								name="prodotto[]" id="dept">
									<option selected>Apri il menù</option>
									<option th:each="prodotto : ${prodottiList}"
										th:value="${prodotto.id}"
										th:text="${prodotto.nome}+' '+${prodotto.prezzo}"></option>
							</select>
							</td>
							<td>
							<button type="submit" class="btn btn-primary">Aggiungi</button>
							</td>
						</tr>
					</table>

				</div>
			</div>
			<div class="bottoni">
				<a th:href="@{/assortimento}"><button type="submit" class="btn btn-primary">Termina</button></a>
				<a class="btn btn-primary" th:href="@{|/assortimento/delete/${cardAcquisto.acquisto.id}|}">Elimina</a>
			</div>
		</form>

	</div>

	<script src="/acquisto.js"></script>

</body>
</html>