<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
	<title>Accesso</title>
</head>

<body>
	<div class="text-center w-25 mx-auto">
		<h2>Sei un amministratore?</h2>
		<h1>Accedi qui</h1>
		<hr>
		<div class="mb-3 ">
			<label for="email" class="col-form-label">Inserisci la tua e-mail</label>
			<div>
				<input type="email" class="form-control" id="email">
			</div>
		</div>
		<div class="mb-3 ">
			<label for="password" class="col-form-label">Inserisci la tua password</label>
			<div>
				<input type="password" class="form-control" id="password">
			</div>
		</div>
	</div>

</body>

</html>