 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="style.css">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
				integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
				crossorigin="anonymous" referrerpolicy="no-referrer">
				<title>Nuova Guida</title>
	</head>
	<body>
	<!-- navbar-->
	<nav class="navbar bg-light">
        <form class="container-fluid justify-content-start">
            <a class="navbar-brand" href="#">Museo</a>
        </form>
    </nav>
	<!-- navbar-->
        <form 
			    	id="guida-form"
			    	th:object="${aggiungiGuida}"
			    	th:action="@{/guide/salva}"
			    	method ="POST">
			    	
		<div class="container">		
		
    	<div class="row">
	    	<div class="col-6">
				
				
				<!-- id field-->
				<input type="hidden" th:field="*{id}">
				<!-- id field-->
				<!-- name field-->
					<div class="mb-3">
		  				<label class="form-label" for="name">Nome</label>
		  				<input type="text" id="name" class="form-control" th:field="*{nome}" th:errorClass="is-invalid">
		  				<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
		  					</ul>
		  				</div>
		  			</div>
		  			<!-- name field-->
		  			</div>
		  			<div class="col-6">
		  			<!-- cognome field-->
					<div class="mb-3">
		  				<label class="form-label" for="surname">Cognome</label>
		  				<input type="text" id="surname" class="form-control" th:field="*{cognome}" th:errorClass="is-invalid">
		  				<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('cognome')}" th:text="${err}"></li>
		  					</ul>
		  				</div>
		  			</div>
		  			<!-- cognome field-->
			</div>
			<!--div class="col-4 p-3">
				<h4>Visite Guidate</h4>
					<div class="form-check" th:each="lvg : ${listaVisite}">
					  <input class="form-check-input" th:field="*{visite}" type="checkbox" th:id="|category_${lvg.id}|" th:value="${lvg.id}">
					  <label class="form-check-label" th:for="|category_${lvg.id}|" th:text="${lvg.titolo}"></label>
					</div>
			</div-->
		</div>
		<div>
			    <button type="submit" class="btn btn-info">Salva</button>
  				<a class="btn btn-danger" th:href="@{/guide}">Cancella</a>
		</div>
	</div>
	</form>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
				integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
				crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
				integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
				crossorigin="anonymous"></script>
	</body>
</html>