<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
  <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
  <link rel="stylesheet" th:href="@{/gestionale/gestionale.css}"> 
  
    <title>Global Museum</title>
  </head>
	
	<body id="body-pd">
    <th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
	  	<!-- TOP BAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-center"></i>
           </button>
           <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="sidebar-header">
         <span class="size-font-sidebar"> 
         <img src="/img/logo-museo.png" alt="logo museo" width="50" height="50" class="ml-2">
         <span class="mt-4"> Global Museum</span></span>
   </div>
        </div>
    </nav> 
    <!-- FINE TOPBAR -->
    <div class="wrapper">
     <nav th:replace="fragments/navbarGestionale :: navbar('guide')"></nav>
         <div id="content">
         <!-- INIZIO CONTENUTO PAGINA -->
            
    <!-- CONTENUTO -->
    <div class="container-fluid px-4">
	<!-- Insieme delle guide turistiche-->
		 <div class="row">
        <div class="col-3 px-4" th:each ="sg : ${schedaGuida}">
          <div class="card h-100">
            <img th:each="i : ${imageList}" th:if="${i.guida == sg}" th:src="@{|/guide/${i.id}/content|}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h4 class="card-title" th:text="${sg.nome}+' '+${sg.cognome}"></h4>
              <!--ul class="list-group" th:each="lvg : ${listaVisite}">
              	<li class="list-group-item" th:text="${lvg.titolo}"></li>
              </ul-->
              <div>
              	<a class="btn btn-primary" th:href="@{|guide/elimina/${sg.id}|}">
              		<i class="fa-solid fa-trash-can"></i>
              	</a>
              	<a class="btn btn-primary" th:href="@{|/guide/${sg.id}|}" title="Detail"><i class="fa-solid fa-circle-info"></i></a>
              	<a class="btn btn-primary" th:href="@{|guide/modifica/${sg.id}|}">
              		<i class="fa-solid fa-file-pen"></i>
              	</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
         </div>
    </div>

	<!-- Insieme delle guide turistiche-->
	 <script src="/gestionale.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
				integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
				crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
				integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
				crossorigin="anonymous"></script> -->
	</body>
</html>