 <footer th:fragment="footer">
            <div class="container-fluid-center divfooter mt-15">
                <div class="row d-flex justify-contente-around text-center">
                <div class="col-lg-6 col-12 mb-2">
                    <h3>
                        CONTACTS
                    </h3>
                    <p class="pt-2">
                        Global Museum
                    </p>
                    <p>
                    <i class="fa-regular fa-envelope"></i>
                        E-mail: global.museum@gmail.com
                    </p>
                    <p>
                    <i class="fa-brands fa-whatsapp"></i>
                        Whatsapp: +39 3476859627
                    </p>
                  </div>
                    <div class="col-lg-6 col-12 mb-2">
                    <h3>
                        INDIRIZZO
                    </h3>
                    <p class="pt-2">
                        Via Ciao Amico n.156
                    </p>
                    
                </div>
                <div>
                    <p class="text-center pb-5">
                        Copyright &copy; Your Website 2022
                    </p>
                </div>
                </div>
        </footer>