<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
  <link rel="stylesheet" th:href="@{/gestionale/gestionale.css}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <title>Global Museum</title>
  </head>
  <body id="body-pd">
    <th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
 <!-- TOP BAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
               <i class="fa-solid fa-bars"></i> 
           </button>
           <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="sidebar-header">
         <span class="size-font-sidebar"> 
         <img src="/img/logo-museo.png" alt="logo museo" width="50" height="50" class="ml-2">
         <span class="mt-4"> Global Museum</span></span>
   </div>
        </div>
    </nav> 
    <!-- FINE TOPBAR -->
    <div class="wrapper">
     <nav th:replace="fragments/navbarGestionale :: navbar('gestionale')"></nav>
     
         <div id="content">
         <!-- INIZIO CONTENUTO PAGINA -->
            
  	<div class="container-fluid px-4">

  		<h1>Nuovo Acquisto</h1>
  		
  		<hr/>
  		<!-- form che gestisce l'attributo book -->
  		
  		<form
  			id="form-acquisto"
  			th:object="${acquisto}"
  			th:action="@{/acquisto/save}"
  			method="POST"
  			class="row"
  		>
  		<ul class="col-12">
		      <li 
		         th:each="err : ${#fields.allErrors()}" 
		         th:text="${err}">
		      </li>
			</ul>
	  		
			<div class="col-8">
				<!--  campo nascosto per l'id -->
				<input type="hidden" th:field="*{id}">
	  			<table id="emptbl">
		<tr>
		<th>Data</th>
		</tr> 
		<tr> 
		<td id="col0"><input type="date" name="data[]" th:field="*{data}" value="" />
			</td>
		</tr>  
	</table> 
	
	<div class="bottoni">
	  				<button type="submit" class="btn btn-primary">Avanti</button>
	  				<a class="btn btn-primary" href="/">Cancel</a>
	  			</div>
  		</form>
  	</div>

  
    <script src="/gestionale.js"></script>

  </body>
</html>