<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <link rel="stylesheet" th:href="@{/home/home.css}"> 
    <title>Global Museum</title> 
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar('acquisto')"></nav>
  	<div class="container">
  		<h1>Nuovo Acquisto</h1>
  		
  		<hr/>
  		<!-- form che gestisce l'attributo book -->
  		
  		<form
  			id="form-acquisto"
  			th:object="${acquisto}"
  			th:action="@{/acquisto/save}"
  			method="POST"
  			class="row"
  		>
	  		
			<div class="col-8">
				<!--  campo nascosto per l'id -->
				<input type="hidden" th:field="*{id}">
	  			<table id="emptbl">
		<tr>
		<th>Data</th>
		</tr> 
		<tr> 
		<td id="col0"><input type="text" name="data[]" th:field="*{data}" value="" />
			</td>
		</tr>  
	</table> 
	
	<div class="bottoni">
	  				<button type="submit" class="btn btn-primary">Avanti</button>
	  				<a class="btn btn-primary" href="/">Cancel</a>
	  			</div>
  		</form>
  	</div>
  	

  </body>
</html>