<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
     <link rel="stylesheet" th:href="@{/gestionale/gestionale.css}">  
    <title>Global Museum</title> 
  </head>
  <body>
  <th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
  	  	 <!-- TOP BAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-center"></i>
           </button>
           <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="sidebar-header">
         <span class="size-font-sidebar"> 
         <img src="/img/logo-museo.png" alt="logo museo" width="50" height="50" class="ml-2">
         <span class="mt-4"> Global Museum</span></span>
   </div>
        </div>
    </nav> 
    <!-- FINE TOPBAR -->
  <div class="wrapper">
     <nav th:replace="fragments/navbarGestionale :: navbar('gestionale')"></nav>
     
     
         <div id="content">
         <!-- INIZIO CONTENUTO PAGINA -->
           
  <div class="container">
  	<!--  messaggi alert  -->
  	<th:block th:if="${successMessage != null && successMessage != ''}">
  		<div  class="alert alert-success" th:text="${successMessage}"></div>
  	</th:block>
  	<h1>Dettagli acquisto</h1>
  	<h2 th:text="${acquisto.data}"></h2>
  	
  	<hr/>
  	<div class="row">
  		<div class="col-8">
  			<dl>
  				
  				<dt>Quantità</dt>
  				<dd th:each="card : ${acquisto.cardAcquisto}"  th:text="${card.quantita}"></dd>
  				<dt>Prezzo</dt>
  				<dd th:each="cardAcquisto : ${acquisto.cardAcquisto}"  th:text="${cardAcquisto.prodotto.prezzo}"></dd>
  			</dl>
  		</div>
  		
  		<div class="col-4">
  			<h4>Prodotto</h4>
  			<ul>
  				<li th:each="cardAcquisto : ${acquisto.cardAcquisto}" th:text="${cardAcquisto.prodotto.nome}"></li>
  			</ul>
  		</div>
  	</div>
  </div>
  
<script src="/gestionale.js"> </script>
  </body>
</html>