<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <link rel="stylesheet" th:href="@{/home/home.css}"> 
    <title>Global Museum</title> 
  </head>
  <body>
  <nav th:replace="fragments/navbar :: navbar('acquisto')"></nav>
  <div class="container">
  	<!--  messaggi alert  -->
  	<th:block th:if="${successMessage != null && successMessage != ''}">
  		<div  class="alert alert-success" th:text="${successMessage}"></div>
  	</th:block>
  	<h1>Dettagli acquisto</h1>
  	<h2 th:text="${acquisto.data}"></h2>
  	
  	<hr/>
  	<div class="row">
  		<div class="col-8">
  			<dl>
  				
  				<dt>Quantità</dt>
  				<dd th:each="card : ${acquisto.cardAcquisto}"  th:text="${card.quantita}"></dd>
  				<dt>Prezzo</dt>
  				<dd th:each="cardAcquisto : ${acquisto.cardAcquisto}"  th:text="${cardAcquisto.prodotto.prezzo}"></dd>
  			</dl>
  		</div>
  		
  		<div class="col-4">
  			<h4>Prodotto</h4>
  			<ul>
  				<li th:each="cardAcquisto : ${acquisto.cardAcquisto}" th:text="${cardAcquisto.prodotto.nome}"></li>
  			</ul>
  		</div>
  	</div>
  </div>
  

  </body>
</html>