<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet">
	<link rel="stylesheet" th:href="@{/fattura.css}">
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
  <link rel="stylesheet" th:href="@{/gestionale/gestionale.css}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title>Global Museum</title>
</head>
<body id="body-pd">
    <th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
    <div class="wrapper">
     <nav th:replace="fragments/navbarGestionale :: navbar('gestionale')"></nav>
         <div id="content">
         <!-- INIZIO CONTENUTO PAGINA -->
            <!-- TOP BAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-center"></i>
           </button>
           <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav> 

	<div class="container">
	<h1>Dettagli fattura</h1>
		<div class="col-md-12">
			<div class="invoice">
				<!-- begin invoice-company -->
				<div class="invoice-company text-inverse f-w-600">
					<span class="pull-right hidden-print"> <a
						 id="pdf" class="btn btn-sm btn-white m-b-10 p-l-5"><i
							class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Export
							as PDF</a> <a href="javascript:;" onclick="window.print()"
						class="btn btn-sm btn-white m-b-10 p-l-5"><i
							class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
					</span> Global Museum, Inc
				</div>
				<!-- end invoice-company -->
				<!-- begin invoice-header -->
				<div class="invoice-header">
					<div class="invoice-from">
						<small>from</small>
						<address class="m-t-5 m-b-5">
							<strong class="text-inverse">Global Museum, Inc.</strong><br>
							Toledo Street, 156<br> Naples, 80134<br> Phone: (081)
							456-7890<br> Fax: (081) 789-4560
						</address>
					</div>
					<div class="invoice-to">
						<small>to</small>
						<address class="m-t-5 m-b-5">
							<strong class="text-inverse">Company Name:</strong><br>
							Street Address:<br> City, Zip Code:<br> Phone:
							<br> Fax:
						</address>
					</div>
					<div class="invoice-date">
						<small>Invoice / Month period:</small>
						<div class="date text-inverse m-t-5" th:text="${fattura.dataEmissione}"></div>
						<div class="invoice-detail" th:text="'Fattura n°: ' + ${fattura.id}">
							<br> Services Product
						</div>
					</div>
				</div>
				<!-- end invoice-header -->
				<!-- begin invoice-content -->
				<div class="invoice-content">
					<!-- begin table-responsive -->
					<div class="table-responsive">
						<table class="table table-invoice">
							<thead>
								<tr>
									<th>PRODUCTS DESCRIPTION</th>
									<th class="text-center" width="10%">PRICE</th>
									<th class="text-center" width="10%">AMOUNT</th>
									<th class="text-right" width="20%">LINE TOTAL</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${fattura.acquisto.cardAcquisto}">
									<td><span class="text-inverse" th:text="${item.prodotto.nome}">
											</span><br> <small th:text="${item.prodotto.descrizione}"></small></td>
									<td class="text-center" th:text="'€' + ${item.prodotto.prezzo}"></td>
									<td class="text-center" th:text="${item.quantita}"></td>
									<td class="text-right" th:text="'€' + ${item.quantita*item.prodotto.prezzo}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- end table-responsive -->
					<!-- begin invoice-price -->
					<div class="invoice-price">
						<div class="invoice-price-left">
							<div class="invoice-price-row">
								<div class="sub-price">
  							<small>SUBTOTAL</small> <span class="text-inverse" th:text="${'€' + fattura.acquisto.getPrezzoTotaleCustom}"></span>
								</div>
								<div class="sub-price">
									<i class="fa fa-plus text-muted"></i>
								</div>
								<div class="sub-price">
									<small>PAYPAL FEE (2%)</small> <span class="text-inverse" th:text="'€ ' + ${fattura.acquisto.getPrezzoTotaleCustom/100}"></span>
								</div>
							</div>
						</div>
						<div class="invoice-price-right">
							<small>TOTAL</small> <span class="f-w-600" th:text="'€ ' + ${fattura.acquisto.getPrezzoTotaleCustom/3 + (fattura.acquisto.getPrezzoTotaleCustom/100)/2}"></span>
						</div>
					</div>
					<!-- end invoice-price -->
				</div>
				<!-- end invoice-content -->
				<!-- begin invoice-note -->
				<div class="invoice-note">
					* Make all cheques payable to [Global Museum]<br> *
					Payment is due within 30 days<br> * If you have any questions
					concerning this invoice, contact [Global Museum, 3381460972, globalmuseum@bestproject.com]
				</div>
				<!-- end invoice-note -->
				<!-- begin invoice-footer -->
				<div class="invoice-footer">
					<p class="text-center m-b-5 f-w-600">THANK YOU FOR YOUR
						BUSINESS</p>
					<p class="text-center">
						<span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i>
							GlobalMuseum.com</span> <span class="m-r-10"><i
							class="fa fa-fw fa-lg fa-phone-volume"></i> 3381460972</span> <span
							class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i>
							globalmuseum@bestproject.com</span>
					</p>
				</div>
				<!-- end invoice-footer -->
			</div>
		</div>
	</div>
	<script src="/gestionale.js"></script>
	<script src="/fattura.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
</body>
</html>

  