<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
  <link rel="stylesheet" th:href="@{/gestionale/gestionale.css}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <title>Global Museum</title>
  </head>
  <body id="body-pd">
    <th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
    <div class="wrapper">
     <nav th:replace="fragments/navbarGestionale :: navbar('gestionale')"></nav>
         <div id="content">
         <!-- INIZIO CONTENUTO PAGINA -->
            <!-- TOP BAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-center"></i>
           </button>
           <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav> 
    <!-- FINE TOPBAR -->
    <!-- CONTENUTO -->
   <div class="container-fluid px-4">
    <h1 class="text-center">Prodotti</h1>
    <!-- <div> 
    <a class="btn btn-primary" th:href="@{/assortimento/add}">Nuovo Prodotto</a>
    </div> -->
    
    <div class="container text-center">
      <div>
        <table class="table mx-auto">
          <thead>
            <tr>
              <th>Nome </th>
              <th>Descrizione</th>
              <th>Prezzo</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="p : ${prodotto}">
              <td th:text="${p.nome}"></td>
              <td th:text="${p.descrizione}"></td>
              <td th:text="&euro; + ' ' + ${#numbers.formatDecimal(p.prezzo, 1, 2)}"></td>
            <td>
						<a class="btn btn-primary" th:href="@{|prodotto/modifica/${p.id}|}" title="Modifica"><i class="fa-solid fa-pen-to-square"></i></a>
						<a class="btn btn-primary" th:href="@{|/image/${p.id}|}" title="Detail"><i class="fa-solid fa-circle-info"></i></a>
						<a class="btn btn-primary" th:href="@{|prodotto/elimina/${p.id}|}" title="Elimina"
							onclick="return confirm('Sei sicuro?')"><i class="fa-solid fa-trash"></i></a>
							
					</td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   </div>
         </div>
    </div>
   <script src="/gestionale.js"></script>
  </body>
</html>