/* link per il font del nome centro pagina */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* BODY */
/* body {
	background-color: rgb(0, 0, 0);
}*/
h1 {
	font-family: 'Dancing Script', cursive;
	margin-left: 60px;
}
/* paragrafo testo FEDERICA DESIGN */
p.auto {
	font-family: 'Dancing Script', cursive;
	font-size: 100px;
	color: black;
	position:absolute, center;
	margin-top: 215px;
	left:50;
}

/* immagine - profilo */
div.immagine {
	border-left: 1px solid #000;
}

img.profilo {
	max-width:600px;
	margin-left: 90px;
	margin-top: 30px;
	
}

/* hr divisorio */
hr.centrale {
	margin-top: 20px;
	border-color: white;
	border-width: 20px;
}

/* div - card*/
div.lavori {
	text-align: center;
	margin: 0 auto;
}


div.card{
	text-align: center;
	margin-right: 30px ;
	max-width: 300px;
	margin-left: 90px;
}

img.lavoro {
	max-width: 100;
	margin-top: 10px;
}

/* FOOTER */

div.divfooter{
	margin-top: 20px; 
	padding-top: 20px;	
}

div.contatti{
	color: white;
	text-align: center;
    margin-top: 40px;
}

div.listaProdotti {
	margin-left: 120px;
	margin-top: 50px;
}

div.bottoni {
	margin-top: 30px;
}




/*card*/
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px ;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100%/3);
    padding: 10px;
}
.product{
    padding-bottom: 10px;
    position: relative;
}
.product img{
    width: 100%;
    padding: 8px 0;

}
/* prezzi */
.prezzo-rosso{
    color: red;
    font-weight: bold;
}
.prezzo-barrato{
    text-decoration: line-through;
}
.heart{
    position: absolute;
    text-align: right;
    background-color: white;
    width: 30px;
    top: 30px;
    right: 0;
    padding: 8px;
    z-index: 1;
}
.product:hover .heart{
    display: block;
    color: red;
    cursor: pointer;
}
.scritta-foto{
    color: white;
    font-size: small;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left:0;
    padding: 3px;
    border-radius: 2px;
}
.sconto{
    background-color:#eb0037;
    
}
.sostenibilità{
    background-color: #00875a;
    
}
.sconto1{
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #eb0037;
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 3px;
    border-radius: 2px;
}
.sostenibilità1{
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #00875a;
    position: absolute;
    bottom: 100px;
    left: 40px;
    padding: 3px;
    border-radius: 2px;
}
