<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
  <link rel="stylesheet" th:href="@{/home/home.css}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Global Museum</title>
  </head>
  <body>
  <nav th:replace="fragments/navbar :: navbar('home')"></nav>
   <main>
    <div class="container">
    <div class="row">
    <div class="col-6">
      <p class="auto">Global Museum </p>
    </div>
    <div class="col-6 immagine">
      <img class="profilo" src="/img/logo-museo.png" alt="logo museo">
    </div> 
  </div>
    </div>
    <!-- fine griglia iniziale -->
    <hr class="centrale">
    <!-- inizio griglia centrale -->
 
    <hr class="centrale">
  </main>
  <div class="my-5">
</div>
<!-- Jumbotron -->
<div class="pb-5 text-center bg-image  w-100" style="
    background-image: url('/img/foto-home2.jpeg'); background-size: cover, contain;
    height: 500px;
  ">
  <div class="mask bottom-0
            d-flex
            align-items-end
            h-100
            text-center
            justify-content-center" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Global Museum</h1>
        <h4 class="mb-3 ml-5">Visita la nostra galleria di prodotti</h4>
        <a class="btn btn-light btn-lg ml-5" href="/prodotto/vetrina" role="button">Vai ai prodotti</a>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->

<hr>
<!-- SEZIONE ITEMS --> 
<div class="container-fluid p-4">
		 <div class="row">
        <div class="col-3 p-4 text-center">
        <img class="img-fluid rounded-circle" src="/img/alexander-hipp.jpg" alt="foto direttore">
        <p><h4>Alexander Hipp</h4></p>
        <p><h5>Direttore</h5></p>
        </div>
        <div class="col-3 p-4 text-center">
        <img class="img-fluid rounded-circle " src="/img/alex-suprun.jpg" alt="foto interior designer">
        <p><h4>Christian Buehner</h4></p>
        <p><h5>Interior designer</h5></p>
        </div>
        <div class="col-3 p-4 text-center">
        <img class="img-fluid rounded-circle " src="/img/giusta.jpg" alt="foto responsabile amministrazione">
        <p><h4>Marta Camp</h4></p>
        <p><h5>Responsabile amministrazione</h5></p>
        </div>
        <div class="col-3 p-4 text-center">
        <img class="img-fluid rounded-circle " src="/img/cinese.jpg" alt="foto restauratrice">
        <p><h4>Christina Wocintech</h4></p>
        <p><h5>Restauratrice</h5></p>
        </div>
		 </div>
</div>
<!-- Jumbotron -->
<div class="pt-5 text-center bg-image  w-100" style="
    background-image: url('/img/foto3.jpg'); background-size: cover, contain;
    height: 500px;
  ">
  <div class="mask bottom-0
            d-flex
            align-items-end
            h-100
            text-center
            justify-content-center" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Global Museum</h1>
        <h4 class="mb-3 ml-5">Esplora le nostre visite guidate</h4>
        <a class="btn btn-light btn-lg ml-5" href="/visite/vetrinaVisite" role="button">Vai alle visite</a>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
	<hr>
    <th:block th:replace="fragments/footer :: footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>

</html>