<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <link rel="stylesheet" th:href="@{/home/home.css}"> 
    <title>Global Museum</title> 
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar('rifornimento')"></nav>
  	
  	<div class="container">

  		<hr/>
<!-- FORM RIFORNIMENTO-->
<form
  			id="form-rifornimento"
  			
  			th:object="${rifornimento}"
  			th:action="@{/rifornimento/add/{id}}"
  			method="POST"
  			class="row"
  			
  		>
  		<ul class="col-12">
		      <li 
		         th:each="err : ${#fields.allErrors()}" 
		         th:text="${err}">
		      </li>
			</ul> 
			
			
			
			<!--<select class="form-select form-select mb-3" aria-label=".form-select example" type="select" name="assortimento[]" id="dept">
              <option selected> Seleziona id</option>
			<option th:each="assortimento : ${assList}"  th:value="${assortimento.id}" th:text="${assortimento.id}"></option>
			</select> -->
  		<div class="container">
  		<input type="hidden" th:field="*{id}">
  		<select class="form-select form-select mb-3" aria-label=".form-select example" type="select" name="assortimento[]" id="dept">
              <option selected> Seleziona l'assortimento</option>
			<option th:each="assortimento : ${assList}"  th:value="${assortimento.id}" th:field="*{assortimento}" th:text="${assortimento.id}"></option>
			</select>
  		<select class="form-select form-select mb-3" aria-label=".form-select example" type="select" name="assortimento[]" id="dept">
              <option selected> Seleziona la data</option>
			<option th:each="assortimento : ${assList}"  th:value="${assortimento.id}" th:text="${assortimento.data}"></option>
			</select>
  		<div>
	  		<table id="emptbl">
		<tr>
			<th>Quantità</th>
			<th>Prezzo</th>
			<th>Prodotto</th> 
			 
		</tr> 
		<tr> 
		
			<td id="col0">
			<input type="number" name="quantita"  th:field="*{quantita}" value=""  />
			</td> 
			<td id="col1"><input type="number" name="prezzo" th:field="*{prezzo}" value=""  /></td> 
			 <td id="col2"> 
              <select class="form-select form-select mb-3" aria-label=".form-select example" type="select" name="prodotto[]" id="dept">
              <option selected> Apri il menù</option>
               <option th:each="prodotto : ${prodottiList}"  th:value="${prodotto.id}" th:text="${prodotto.nome}"></option>
               </select>
		        </td> 
		</tr>  
	</table> 
	<table> 
		<tr> 
			<td><input type="button-submit" value="Add Row" onclick="addRows()"  name="submit" class="btn" />
			
			</td> 
			<td><input type="button" value="Delete Row" onclick="deleteRows()" /></td> 
			 
		</tr> 
		
 
	</table>
  		</div>
  		</div>
  		<div class="bottoni">
	  				<button type="submit" class="btn btn-primary">Save</button>
	  				<a class="btn btn-primary" href="/">Cancel</a>
	  			</div>
  		</div>
  		</form>
  		 <script src="/assortimento.js"></script> 
  </body>
</html>