<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
  <link rel="stylesheet" th:href="@{/home/home.css}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Global Museum</title>
  </head>
  <body>
  <nav th:replace="fragments/navbar :: navbar('rifornimento')"></nav>
  <th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
    <h1>I rifornimenti</h1>
    
    
    <div class="container text-center w-75 mt-3">
      <div>
        <table class="table mb-5">
          <thead>
            <tr>
              <th>Prezzo</th>
              <th>Quantità</th>
              <th>Prodotto</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="r : ${rifList}">
              <td th:text="${r.prezzo}"></td>
              <td th:text="${r.quantita}"></td>
              <td>
  			
  			<ul>
  				<li th:each="prodotto : ${rifornimento.prodotto}" th:text="${prodotto.nome}"></li>
  			</ul>
              </td>
              
              
            </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>