<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
	<link rel="stylesheet" th:href="@{/gestionale/gestionale.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
		integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<title>Global Museum</title>
</head>
	<body id="body-pd">

    <th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
	  	<!-- TOP BAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-center"></i>
           </button>
           <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="sidebar-header">
         <span class="size-font-sidebar"> 
         <img src="/img/logo-museo.png" alt="logo museo" width="50" height="50" class="ml-2">
         <span class="mt-4"> Global Museum</span></span>
   </div>
        </div>
    </nav> 
    <!-- FINE TOPBAR -->
    <div class="wrapper">
     <nav th:replace="fragments/navbarGestionale :: navbar('visita')"></nav>
         <div id="content">
         <!-- INIZIO CONTENUTO PAGINA -->
            
    <!-- CONTENUTO -->
   <div class="container-fluid px-4">
   <h1 th:if="${aggiungiVisita.id == null}">Aggiungi Visita Guidata </h1>
   <h1 th:if="${aggiungiVisita.id != null}">Modifica Visita Guidata </h1>
   <hr class="border border-dark">
    <div class="container mt-5">
    	<form
    			id="visita-form"
    			th:object="${aggiungiVisita}"
    			th:action="@{/visite/salva}"
    			method="post">
    		
    		<!-- id field-->
				<input type="hidden" th:field="*{id}">
			<!-- id field-->
    		
	        <div class="row justify-content-center">
				<!---->
				<!--titolo-->	        
	            <div class="col-4">
	                <label for="titolovisita" class="form-label">Titolo</label>
	                <input type="text" class="form-control" id="titolovisita" placeholder="Dai un titolo alla visita guidata" th:field="*{titolo}" th:errorClass="is-invalid">
	                <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li>
		  					</ul>
	  				</div>
	            </div>
	            <!--titolo-->
	            <!--capienza-->
	            <div class="col-2">
	                <label class="form-label" for="capienza">Capienza</label>
	                <input type="number" id="capienza" class="form-control" th:field="*{capienza}" th:errorClass="is-invalid">
	                <div th:if="${#fields.hasErrors('capienza')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('capienza')}" th:text="${err}"></li>
		  					</ul>
	  				</div>
	            </div>
	            <!--capienza-->
	            <!--prezzo-->
	            <div class="col-2">
	                <label class="form-label" for="costo">Prezzo &euro; </label>
	                <input type="number" step="0.50" id="costo" class="form-control" th:field="*{prezzo}" th:errorClass="is-invalid">
	                <div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}"></li>
		  					</ul>
	  				</div>
	            </div>
				<!--prezzo-->
	        </div>
	        <div class="row justify-content-center mt-4">
	            <div class="col-8">
	                <label for="descrizionevisita" class="form-label">Descrizione Visita Guidata</label>
	                <input type="text" class="form-control" id="descrizionevisita" th:field="*{descrizione}" th:errorClass="is-invalid"></input>
	            </div>
	            <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
		  					</ul>
  				</div>
	        </div>
	        <div class="row justify-content-center mt-4">
	        	<!--orario di inizio-->
	            <div class="col-4">
	                <label for="orarioinizio">Giorno e orario inizio:</label>
	                <input type="datetime-local" id="orarioinizio" th:field="*{dataInizio}" th:errorClass="is-invalid">
	                <div th:if="${#fields.hasErrors('dataInizio')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('dataInizio')}" th:text="${err}"></li>
		  					</ul>
  					</div>
	            </div>
	            <!--orario di inizio-->
	            <!--orario di fine-->
	            <div class="col-4">
	                <label for="orariofine">Giorno e orario fine:</label>
	                <input type="datetime-local" id="orariofine" th:field="*{dataFine}" th:errorClass="is-invalid">
	                <div th:if="${#fields.hasErrors('dataFine')}" class="invalid-feedback">
		  					<ul>
		  						<li th:each="err : ${#fields.errors('dataFine')}" th:text="${err}"></li>
		  					</ul>

					</div>
	            </div>
	            <!--orario di fine-->
	            
	        </div>
	        <div class="row mt-4 justify-content-center">
	        	<!--seleziona guida-->
	        	<label class="col-2" for="guida">Seleziona una guida:</label>
	            <select th:field="*{guida}" class="col-2">
				    <option th:each="ldg : ${listaGuide}" th:value="${ldg.id}" th:text="${ldg.nome}">
			    	</option>
				</select>	
				<!--seleziona guida-->
		        
	        </div>
	        
	        <div class="row justify-content-center mt-4">
	        	<div class="col-2">
	        		<button type="submit" class="btn btn-success">Save</button>
  					<a class="btn btn-danger" th:href="@{/visite}">Cancel</a>
	        	</div>
	        </div>
        </form>
    </div>
    
    
   



					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
						integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
						crossorigin="anonymous"></script>
					<script src="users.js"></script>
					<script src="/gestionale.js"> </script>
	</body>
</html>